<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="jsondatareader" thread-count="2" parallel="tests">
    <test name="readfromjsonfile">
        <classes>
            <class name="TestPackage.creat_account_test"/>
<!--            <class name="TestPackage.restApi"></class>-->
        </classes>
    </test>
</suite><!-- Suite -->

